<% provide(:title, "Resource") %>

<div class="panel-group" id="resource-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#resource-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          FRONTEND
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <% @skills.each do |skill| %>
          <% if skill.sub_category == "frontend" %>
          <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            <%= image_tag "skills/#{skill.image_name}", height: "50px" %>
            <%= skill.name.upcase %>
          </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#resource-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          BACKEND
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <% @skills.each do |skill| %>
          <% if skill.sub_category == "backend" %>
          <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            <%= image_tag "skills/#{skill.image_name}", height: "50px" %>
            <%= skill.name.upcase %>
          </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#resource-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          TUTORIAL
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <% @skills.each do |skill| %>
          <% if skill.sub_category == "tutorial" %>
          <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            <%= image_tag "skills/#{skill.image_name}", height: "50px" %>
            <%= skill.name.upcase %>
          </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#resource-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          SOFTWARE
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <% @skills.each do |skill| %>
          <% if skill.sub_category == "software" %>
          <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            <%= image_tag "skills/#{skill.image_name}", height: "50px" %>
            <%= skill.name.upcase %>
          </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
