<% if @user.name.empty? %>
    <h1><%= @user.roll.upcase! %></h1>
<% else %>
    <h1><%= "#{@user.name.capitalize} | #{@user.roll.upcase}" %></h1>
<% end %>
<div class="row">
    <h2>Skills</h2>
    <ul>
        <% @user.webops_skill.each do |skill| %>
        <li><%= skill %></li>
        <% end %>
    </ul>
</div>