<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="<%= root_path %>" class="navbar-brand">
                <%= image_tag "logo_white_header.png", height: "50px" %>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapsible-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Resources",   resource_path %></li>
                <li><%= link_to "Contact Us", contact_path %></li>
                <li><%= link_to "About Us",   about_path %></li>
                <% if logged_in? %>
                    <li><%= link_to "All Users", users_path %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <%= current_user.roll.upcase %> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Profile", current_user %></li>
                            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "Log out", logout_path, method: "delete" %>
                            </li>
                        </ul>
                    </li>
                <% else %>
                    <li><%= link_to "Log in", login_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>